.panel-body{
	display: flex;
	justify-content: space-between;
}

.way-of-travel-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.food-table{
	width: 55%;
}

.food-table td{
	text-align: center;
}

.waypoint-input-wrapper{
	width: 20%;
}
.waypoint-text{
	width: 100%;
	height: 2.8em;
	border-radius: 22px;
	border: 1px solid #009cde;
	padding-left: 1em;
}
